.home {
  height: 91vh;
  width: 100vw;
  background-image: url("/public/istockphoto-1303630250-170667a.jpg");

  background-repeat: no-repeat;

  background-size: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.h1 {
  padding-top: 50px;
  font-size: 60px;
}

.innerpart {
  margin: auto;
  margin-top: 150px;
  color: red;
  width: 1000px;
  height: 100px;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.486);
}
.enter {
  color: white;
  margin-top: 35px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.486);
  margin-left: 20px;
  border-color: white;
}
.btn {
  border-radius: 10px;
  margin-left: 20px;
}

.container {
  display: flex;
  width: 100%;
  padding: 0px 12px 0px 40px;
  border-radius: 10px;
  background-color: #edebeb;
}
.image {
  width: 412px;
  padding-left: 50px;
  border-radius: 5px;
}
.content {
  width: 653px;
  padding-left: 50px;
}
.container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #edebeb;
}
.container .con {
  border-radius: 10px;
  width: 296px;
  height: 325px;
  box-shadow: 10px 0 5px -2px #888;
  
}
.container img {
  border-radius: 10px;
  width: 99%;
}
.footer {
  margin-top: 60px;
  text-align: center;
  display: inline-block;
  /* border: 2px solid red; */
  margin-left: 105px;
  width: 1150px;
}
.footer h4 {
  float: center;
}
.footer input {
  margin-left: 15px;
  margin-right: 15px;
}
.details {
  display: flex;
  justify-content: space-around;
}
.details .detailinfo li {
  list-style: none;
}
.copyright {
  background-color: #c7c7c7;
}
