.mainpage{
    background-image: url(/src/component/img/nature-background-30.jpg),linear-gradient(#f0eaee5d, #aaa5a5);
    
}
.container2{
    background-color: rgba(167, 167, 187, 0.322);
    color: rgb(241, 241, 241);
}